@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:wght@200;600;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  color: #313131;
  /*outline: 1px solid #F54932;*/
}


.content{
  width: 100%;
  min-height: 10px;
  display: flex;
  justify-content: center;
}

.container{
  width: 1222px;
  min-height: 0px;
}

@media screen and (max-width: 400px){
  .container{
    width: 336px;
    min-height: 0px;
  }
}

.cap {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #E9DED4;
  position: relative;
  overflow: hidden;
}

.cap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/header/texture.svg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2; /* Adjust the opacity value as needed */
  z-index: 0;
}

.cap > * {
  position: relative;
  z-index: 1; /* Ensure content is above the pseudo-element */
}


.illustrate{
  background-image: url("../images/header/city.png");
  background-size: cover;
  background-position: center bottom;
  width: 1627px;
  height: calc(100% - 45px);
  position: absolute;

}

.runline{
  background-color: #F54932;
  height: 60px;
  min-width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.line_text{

}

.logo_block{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.logo_block_logo{
  min-width: 245.17px;
  height: 36px;
}

.header_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 542px;
  height: 444px;
  margin-top: 33px;
}
.header_content_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header_content_form_title{
  font-size: 60px;
  line-height: 66px;
  text-transform: uppercase;
}
.header_content_form_title_one{}
.header_content_form_title_two{
  width: 100%;
  text-align: center;
}
.header_content_form_title_three{
  width: 100%;
  text-align: center;
}
.header_content_form_description{
  width: 100%;
  height: 46px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
}
.header_content_form_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btns{
  width: 219px;
  padding: 20px;
  height: 28px;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  border: 2px solid #1F1F1F;
  border-radius: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.header_content_form_btns_left{
  background-color: #1F1F1F;
  color: #FFF;
  transition: 0.2s;
}
.header_content_form_btns_left:hover{
  background-color: #FBCE51;
  color: #1F1F1F;
  transition: 0.2s;
  border: 2px solid #FBCE51;
}
.header_content_form_btns_right{
  background-color: rgba(0,0,0,0);
  color: #1F1F1F;
  transition: 0.2s;
}
.header_content_form_btns_right:hover{
  background-color: #1F1F1F;
  color: #FFF;
  transition: 0.2s;
}

@media screen and (max-width: 400px){
  .cap {
    width: 100%;
    height: 812px;
    display: flex;
    justify-content: center;
    background-color: #E9DED4;
    position: relative;
    overflow: hidden;
  }

  .cap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/header/texture.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Adjust the opacity value as needed */
    z-index: 0;
  }

  .cap > * {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
  }


  .illustrate{
    background-image: url("../images/header/city.png");
    background-size: 46%;
    background-position: 34% bottom;
    background-repeat: no-repeat;
    width: 1627px;
    height: calc(100% - 45px);
    position: absolute;

  }

  .runline{
    background-color: #F54932;
    height: 60px;
    min-width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
  }

  .line_text{

  }

  .logo_block{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .logo_block_logo{
    min-width: 213px;
    height: 32px;
  }
  .logo{
    width: 213px;
  }

  .header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 404px;
    margin-top: 33px;
  }
  .header_content_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .header_content_form_title{
    font-size: 36px;
    line-height: 39.6px;
    text-transform: uppercase;
  }
  .header_content_form_title_one{}
  .header_content_form_title_two{
    width: 100%;
    text-align: center;
  }
  .header_content_form_title_three{
    width: 100%;
    text-align: center;
  }
  .header_content_form_description{
    width: 335px;
    height: 69px;
    text-align: start;
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
  }
  .header_content_form_btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
  }

  .btns{
    width: 295px;
    height: 28px;
    padding: 8px 10px;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    border: 2px solid #1F1F1F;
    border-radius: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  .header_content_form_btns_left{
    background-color: #1F1F1F;
    color: #FFF;
    transition: 0.2s;
  }
  .header_content_form_btns_left:hover{
    background-color: #FBCE51;
    color: #1F1F1F;
    transition: 0.2s;
    border: 2px solid #FBCE51;
  }
  .header_content_form_btns_right{
    background-color: rgba(255,255,255,0.9);
    border: 2px solid rgba(255,255,255,0.9);
    color: #1F1F1F;
    transition: 0.2s;
  }
  .header_content_form_btns_right:hover{
    background-color: #1F1F1F;
    color: #FFF;
    transition: 0.2s;
  }
}

/*////////////////////// КОНТЕНТ ///////////////////////////////*/

.helper_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.helper_block_text {
}

.helper_block_text_red{
  color: #F54932;
}
.helper_block_img{
  width: 394px;
  height: 250px;
  background-image: url("../images/helperchess.png");
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
.helper_block_text_mobile{
  display: none;
}
@media screen and (max-width: 400px){
  .helper_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: content-box;
  }
  .helper_block_text {
    display: none;
  }

  .helper_block_text_mobile {
    display: block;
  }

  .helper_block_text_red{
    color: #F54932;
  }
  .helper_block_img{
    width: 394px;
    height: 250px;
    background-image: url("../images/helperchess.png");
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin: 30px 0;
  }
}

.planchess{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 527px;
  margin-top: 100px;
  margin-bottom: 70px;

}


.planchess_img{
  position: relative;
  width: 528px;
  height: 609px;
  margin-left: -50px;
}

.planchess_img_man{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/manchess.png');
  background-size: cover;
}
.planchess_img_back{
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  background-image: url('../images/maskandchess.png');
  background-size: cover;
  mask-image: url('../images/manchess.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: intersect;
  background-blend-mode: multiply;
  mix-blend-mode: color-burn; /* Модус смешивания для наложения текстуры */
  pointer-events: none; /* Игнорировать события для текстуры */
}

.planchess_board{
  display: flex;
  flex-direction: column;
  width: calc(100% - 528px);
}
.planchess_board_title{
  text-transform: uppercase;
  font-size: 36px;
  width: calc(100% - 20px);
}
.planchess_board_title_red{
  color: #F54932;
}
.planchess_board_table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 100px;
  color: #313131;
}

.planchess_board_table_line{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #D0D0D0;
  width: 100%;
  height: 54px;
}
.linestart{
  height: calc(54px - 17px);
}
.lineend{
  height: calc(54px - 17px);
  border: none;
}
.planchess_board_table_line_td_left{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: calc(50% - 1px);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.planchess_board_table_line_td_right{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: calc(50% - 16px);
  border-left: 2px solid #D0D0D0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.aitop{
  align-items: flex-start;
}
.aibottom{
  align-items: flex-end;
}

.planchess_board_link{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  color: #3057A2;
  margin-top: 70px;
}

.planchess_board_table_line_outprice{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;

  /*text-decoration: line-through;*/
  /*text-decoration-color: #F54932;*/
}
.strikeline{
  position: absolute;
  top: 13px;
  width: 100%;
  height: 2px;
  background-color: #F54932;
}

@media screen and (max-width: 400px){
  .planchess{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 70px;

  }
  .planchess_img{
    position: relative;
    width: 335px;
    height: 402px;
    margin-left: 0px;
  }

  .planchess_img_man{
    position: absolute;
    top: 0;
    left: -20px;
    width: 100%;
    height: 100%;
    background-image: url('../images/manchess.png');
    background-size: cover;
  }
  .planchess_img_back{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/maskandchess.png');
    background-size: cover;
    mask-image: url('../images/manchess.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-composite: intersect;
    background-blend-mode: multiply;
    mix-blend-mode: color-burn; /* Модус смешивания для наложения текстуры */
    pointer-events: none; /* Игнорировать события для текстуры */
  }
  .planchess_board{
    display: flex;
    flex-direction: column;
    width: calc(100%);
  }
  .planchess_board_title{
    text-transform: uppercase;
    font-size: 28px;
    width: calc(100% - 20px);
  }
  .planchess_board_title_red{
    color: #F54932;
  }
  .planchess_board_table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    color: #313131;
  }

  .planchess_board_table_line{
    display: flex;
    justify-content: flex-start;
    border: none;
    flex-wrap: wrap;
    width: 100%;
    height: calc(88px - 17px);
    padding: 15px 0 0 0;
  }
  .linestart{
    height: calc(88px - 17px);
  }
  .lineend{
    height: calc(88px - 17px);
    border: none;
  }
  .planchess_board_table_line_td_left{
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    opacity: 0.7;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .planchess_board_table_line_td_right{
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    border: none;
    border-bottom: 2px solid #D0D0D0;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 5px 0;
  }

  .aitop{
    align-items: flex-start;
  }
  .aibottom{
    align-items: flex-end;
    border: none;
  }

  .planchess_board_link{
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    color: #3057A2;
    margin-top: 40px;
  }

  .planchess_board_table_line_outprice{
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;

    /*text-decoration: line-through;*/
    /*text-decoration-color: #F54932;*/
  }
  .strikeline{
    position: absolute;
    top: 13px;
    width: 100%;
    height: 2px;
    background-color: #F54932;
  }
}


.vasukov{
  width: 100%;
  margin-top: 200px;
}
.vasukov_title{
  width: 100%;
  font-size: 54px;
  line-height: 64.8px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.vasukov_title_one{}
.vasukov_title_two{
  display: flex;
  align-items: flex-start;
  height: 54px;
}

.vasukov_title_span{
  text-transform: none;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #3057A2;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}
.vasukov_title_span_mobile{
  display: none;
}

.vasukov_poligon{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.vasukov_poligon_mobile{
  display: none;
}


.vasukov_poligon_planer{
  width: 376px;
  position: absolute;
  bottom: 0px;
  right: -60px;
}

.vasukov_poligon_doubleblock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 394px;
  height: calc(112px * 2 + 20px);
}
.vasukov_poligon_doubleblock_single{
  width: calc(100% - 40px);
  height: calc(112px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_bigblock{
  width: calc(394px - 40px);
  height: calc(112px * 2 + 20px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_singleblock{
  width: calc(394px - 40px);
  height: calc(136px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_spaceblock{
  width: calc(100% - 394px - 20px - 40px);
  height: calc(136px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.vasukov_poligon_d_s_radius{
  min-width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.vasukov_poligon_d_s_text{
  margin-left: 15px;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.cuttext{
  width: calc(100% - 36px - 15px - 300px);
}
.vasukov_poligon__btns{display: none;}


@media screen and (max-width: 400px){
  .vasukov{
    width: 100%;
    margin-top: 200px;
  }
  .vasukov_title{
    width: 100%;
    font-size: 36px;
    line-height: 39.6px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .vasukov_title_one{}
  .vasukov_title_two{
    display: flex;
    align-items: flex-start;
    height: 54px;
  }

  .vasukov_title_span{
    display: none;
  }
  .vasukov_title_span_mobile{
    text-transform: none;
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #3057A2;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 0px;
  }


  .vasukov_poligon{
    display: none;
  }
  .vasukov_poligon_mobile{
    width: 100%;
    height: 428px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 10px;
  }


  .vasukov_poligon_planer{
    width: 335px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .vasukov_poligon_scroll{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
  }

  .vasukov_poligon__single{
    min-width: calc(100% - 40px);
    height: calc(300px - 80px);
    padding: 60px 20px 20px 20px;
    background-image: url("../images/backimageblock.png");
    display: flex;
    justify-content: flex-start;
  }

  .vasukov_poligon__single_line {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .vasukov_poligon__single_line_strock{
    display: flex;
    margin-bottom: 10px;
  }


  .vasukov_poligon_d_s_radius{
    min-width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .vasukov_poligon_d_s_text{
    margin-left: 15px;
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .cuttext{
    width: calc(100% - 36px - 15px - 300px);
  }

  .vasukov_poligon__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .vasukov_poligon__btns_left{}
  .vasukov_poligon__btns_comas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  .comacard{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin: 0 3px;
  }
  .vasukov_poligon__btns_right{}
}












.marginnone{
  margin: 0px;
}


.runline {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 0;
}

.line_text {
  display: flex;
  align-items: center;
  padding-left: -100%;
  /*left: -100%;*/
  animation: marquee 200s linear infinite;
}

.textline{
  font-size: 22px;
  line-height: 24.2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.coma{
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #FFFFFF;
  margin: 0 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.line_text:nth-child(2) {
  left: 100%;
}
.ps{
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  margin: 50px 0 100px;
}


.controll_next{
  width: 44px;
  height: 44px;
  background-color: #313131;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  cursor: pointer;
}

.controll_next_close_rotate{
  width: 44px;
  height: 44px;
  background-color: #D6D6D6;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 180deg;
}

.controll_next_close{
  width: 44px;
  height: 44px;
  background-color: #D6D6D6;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*rotate: 180deg;*/
}

.controll_next:hover{
  background-color: #FBCE51;
  transition: .2s;
}

@media screen and (max-width: 400px){
  .controll_next{
    width: 36px;
    height: 36px;
    background-color: #313131;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    cursor: pointer;
  }

  .controll_next_close_rotate{
    width: 36px;
    height: 36px;
    background-color: #D6D6D6;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
  }

  .controll_next_close{
    width: 36px;
    height: 36px;
    background-color: #D6D6D6;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*rotate: 180deg;*/
  }

  .controll_next:hover{
    background-color: #FBCE51;
    transition: .2s;
  }
}