@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:wght@200;600;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  color: #313131;
  /*outline: 1px solid #F54932;*/
}

.cap {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #E9DED4;
  position: relative;
  overflow: hidden;
}

.cap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/header/texture.svg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity value as needed */
  z-index: 0;
}

.cap > * {
  position: relative;
  z-index: 1; /* Ensure content is above the pseudo-element */
}
.content{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.container{
  width: 1222px;
  min-height: 0px;
}

.illustrate{
  background-image: url("../images/header/city.png");
  background-size: cover;
  background-position: center bottom;
  width: 1627px;
  height: calc(100% - 45px);
  position: absolute;

}

.runline{
  background-color: #F54932;
  height: 60px;
  min-width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.line_text{

}

.logo_block{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.logo_block_logo{
  min-width: 245.17px;
  height: 36px;
}

.header_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 542px;
  height: 444px;
  margin-top: 33px;
}
.header_content_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header_content_form_title{
  font-size: 60px;
  line-height: 66px;
  text-transform: uppercase;
}
.header_content_form_title_one{}
.header_content_form_title_two{
  width: 100%;
  text-align: center;
}
.header_content_form_title_three{
  width: 100%;
  text-align: center;
}
.header_content_form_description{
  width: 100%;
  height: 46px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
}
.header_content_form_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btns{
  width: 219px;
  padding: 20px;
  height: 28px;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  border: 2px solid #1F1F1F;
  border-radius: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.header_content_form_btns_left{
  background-color: #1F1F1F;
  color: #FFF;
  transition: 0.2s;
}
.header_content_form_btns_left:hover{
  background-color: #FBCE51;
  color: #1F1F1F;
  transition: 0.2s;
  border: 2px solid #FBCE51;
}
.header_content_form_btns_right{
  background-color: rgba(0,0,0,0);
  color: #1F1F1F;
  transition: 0.2s;
}
.header_content_form_btns_right:hover{
  background-color: #1F1F1F;
  color: #FFF;
  transition: 0.2s;
}

/*////////////////////// КОНТЕНТ ///////////////////////////////*/

.helper_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.helper_block_text {
}

.helper_block_text_red{
  color: #F54932;
}
.helper_block_img{
  width: 394px;
  height: 250px;
  background-image: url("../images/helperchess.png");
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.planchess{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 527px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.planchess_img{
  position: relative;
  width: 528px;
  height: 609px;
  margin-left: -50px;
}

.planchess_img_man{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/manchess.png');
  background-size: cover;
}
.planchess_img_back{
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  background-image: url('../images/maskandchess.png');
  background-size: cover;
  mask-image: url('../images/manchess.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: intersect;
  background-blend-mode: multiply;
  mix-blend-mode: color-burn; /* Модус смешивания для наложения текстуры */
  pointer-events: none; /* Игнорировать события для текстуры */
}

.planchess_board{
  display: flex;
  flex-direction: column;
  width: calc(100% - 528px);
}
.planchess_board_title{
  text-transform: uppercase;
  font-size: 36px;
  width: calc(100% - 20px);
}
.planchess_board_title_red{
  color: #F54932;
}
.planchess_board_table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 100px;
  color: #313131;
}

.planchess_board_table_line{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #D0D0D0;
  width: 100%;
  height: 54px;
}
.linestart{
  height: calc(54px - 17px);
}
.lineend{
  height: calc(54px - 17px);
  border: none;
}
.planchess_board_table_line_td_left{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: calc(50% - 1px);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.planchess_board_table_line_td_right{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: calc(50% - 16px);
  border-left: 2px solid #D0D0D0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.aitop{
  align-items: flex-start;
}
.aibottom{
  align-items: flex-end;
}

.planchess_board_link{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  color: #3057A2;
  margin-top: 70px;
}

.planchess_board_table_line_outprice{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;

  /*text-decoration: line-through;*/
  /*text-decoration-color: #F54932;*/
}
.strikeline{
  position: absolute;
  top: 13px;
  width: 100%;
  height: 2px;
  background-color: #F54932;
}

.vasukov{
  width: 100%;
  margin-top: 200px;
}
.vasukov_title{
  width: 100%;
  font-size: 54px;
  line-height: 64.8px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.vasukov_title_one{}
.vasukov_title_two{
  display: flex;
  align-items: flex-start;
  height: 54px;
}

.vasukov_title_span{
  text-transform: none;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #3057A2;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.vasukov_poligon{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.vasukov_poligon_planer{
  width: 376px;
  position: absolute;
  bottom: 0px;
  right: -60px;
}

.vasukov_poligon_doubleblock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 394px;
  height: calc(112px * 2 + 20px);
}
.vasukov_poligon_doubleblock_single{
  width: calc(100% - 40px);
  height: calc(112px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_bigblock{
  width: calc(394px - 40px);
  height: calc(112px * 2 + 20px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_singleblock{
  width: calc(394px - 40px);
  height: calc(136px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.vasukov_poligon_spaceblock{
  width: calc(100% - 394px - 20px - 40px);
  height: calc(136px - 40px);
  padding: 20px;
  background-image: url("../images/backimageblock.png");
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.vasukov_poligon_d_s_radius{
  min-width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.vasukov_poligon_d_s_text{
  margin-left: 15px;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.cuttext{
  width: calc(100% - 36px - 15px - 300px);
}

.gamers{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.gamers_cap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.gamers_cap_title{
  text-transform: uppercase;
  line-height: 64.8px;
  font-size: 54px;

}
.gamers_cap_controller{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 151px;
}

.controll_next{
  width: 44px;
  height: 44px;
  background-color: #313131;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamers_cap_controller_left{
  rotate: 180deg;
}
.gamers_cap_controller_position{
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}
#positionleft{
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}
#positionright{
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}
.gamers_cap_controller_right {
}

.gamers_scroll{
  width: 100%;
  display: flex;
  overflow-x: hidden;
  margin-top: 50px;
}
.gamers_scroll_man{
  min-width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.gamers_scroll_man_avatar{
  width: 320px;
  height: 320px;
  border-radius: 160px;
  background-image: url("../images/gamer.png");
  background-size: cover;
  background-position: center center;
}
.gamers_scroll_man_name{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gamers_scroll_man_name_fio{
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.gamers_scroll_man_name_status{
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  opacity: 0.6;
  margin-top: 5px;
}
.gamers_scroll_man_more{
  width: 113px;
  height: 35px;
  /*padding: 12px;*/
  border-radius: 62px;
  border: 1px solid #3057A2;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3057A2;
}